/********************* GENERALS SETTINGS *********************/

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    margin-left: 0%;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

.content {
    padding: 2%;
}

.links {
    font-size: 18px;
    margin-bottom: 5%;
}

.red {
    font-size: 14px;
    color: #EB5159 !important;
}


/********************* HEADER TEMPLATE *********************/

/* Header */
#header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    background: white;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    z-index: 2;
}

#header a {
    font-weight: bold;
}

#header div {
    display: flex;
    text-align: left;
}

#header ul {
    font-size: 15.5px;
    display: flex;
}

#div_pages,
#div_pages ul {
    width: 160%;
}

#div_pages li {
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
}

#div_pages li:hover {
    border-bottom: 4px solid black;
}

#tag {
    margin-top: -33%;
}

#div_user {
    width: 50%;
}

.second_nav_hover:hover li {
    visibility: visible;
}

.second_ul {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}

.second_ul li {
    visibility: hidden;
    background: white;
    width: 120%;
    padding: 4% !important;
}

.second_ul li:hover {
    border-bottom: 2px solid black;
}

.first_li {
    margin-top: 16% !important;
}

.connected {
    font-weight: bold;
    margin-left: -8%;
    padding-right: 5%;
}

.red2 {
    font-weight: bold;
    color: #EB5159 !important;
}

/********************* HEADER AUTHENTIFICATION *********************/

#header_admin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#header_admin ul {
    margin-top: 6%;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

#header_admin li {
    width: 20%;
    padding: 1.5%;
    font-weight: bold;
}

#inscription_li1 {
    border: 1px solid black;
    border-bottom: 1px solid transparent;
}

#inscription_li2 {
    border: 1px solid transparent;
    border-bottom: 1px solid black;
}

#connexion_li1 {
    border: 1px solid transparent;
    border-bottom: 1px solid black;
}

#connexion_li2 {
    border: 1px solid black;
    border-bottom: 1px solid transparent;
}

/********************* AUTHENTIFICATION INSCRIPTION/CONNECTION/RESET PASS *********************/

#forget_pass {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 2%;
    font-weight: bold;
}

#forget_pass a:hover {
    border-bottom: 4px solid black;
}

.auth_space {
    width: 100%;
    height: 140px;
}

/********************* HOME BANNER FRONTEND *********************/

#banner {
    margin-top: -1%;
}

#banner img {
    position: relative;
    width: 100%;
    height: 1000px;
}

#text_banner {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 1;
    width: 80%;
    margin-top: 260px;
    margin-left: 10%;
    background: rgba(255, 255, 255, 0.4);
    font-family: 'Montserrat', sans-serif !important;
}

#text_banner h1 {
    font-size: 50px;
    padding-top: 3%;
}

#text_banner h2 {
    margin-top: 2%;
    font-size: 25px;
}

#text_banner p {

    font-size: 40px;
}

/********************* SECOND BANNER FRONTEND *********************/
#banner2 {
    height: 300px;
    margin-bottom: 5%;
}

#banner2 img {
    width: 100%;
    position: absolute;
}

/********************* HOME RECENT ARTICLE *********************/

#recent_tag {
    width: 12%;
    height: 40px;
    color: white;
    font-size: 20px;
    margin-top: 5%;
    border-radius: 2px;
    padding: 8px 5px 0px 5px;
    display: flex;
    justify-content: center;
    background: #EB5159;
    font-family: 'Montserrat', sans-serif !important;
}

#triangle {
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-right-width: 20px;
    border-left-width: 20px;
    border-top: 20px solid #EB5159;
    margin-left: 5%;
    margin-top: -10px;
    margin-bottom: 2%;
}

/********************* HOME INTRO *********************/

#intro {
    width: 80%;
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

#intro h1 {
    color: #EB5159;
    font-size: 45px;
    text-align: center;
}

.separation {
    width: 1px;
    height: 50px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    background: rgba(0, 0, 0, 0.2);
}

#block_square {
    margin: auto;
    width: 50%;
    position: relative;
}

#square {
    width: 50%;
    height: 480px;
    margin-left: 5%;
    background: #EDF1F4;
}

#square2 {
    top: 12%;
    left: 40%;
    width: 60%;
    padding: 1%;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
}

#square2 p {
    font-size: 18px;
    text-align: justify;
    font-family: 'Montserrat', sans-serif !important;
}

/********************* PAGE AUTHOR *********************/

#block_author {
    width: 80%;
    margin: auto;
    display: flex;
}

#img_author {
    padding: 2%;
    width: 300px;
}

#img_author img {
    width: 250px;
}

#text_author {
    padding: 2%;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif !important;
}

/********************* DESIGN FOR RECENT ARTICLE & LIST POST  *********************/

#block_recent_post,
.block_posts {
    display: flex;
    height: 350px;
    margin-bottom: 3%;
    box-shadow: 10px 10px 10px #f2f2f2;
}

#img_recent_post,
#para_recent_post,
.img_posts,
.para_posts {
    height: 350px;
    font-family: 'Montserrat', sans-serif !important;
}

#img_recent_post img,
.img_posts img {
    width: 319px;
    height: 350px;
    border-radius: 5px;
}

#novel_recent_post,
.novel_posts {
    font-weight: bold;
}

#para_recent_post,
.para_posts {
    width: 100%;
    padding: 4%;
}

#para_recent_post p,
.para_posts p,
#para_recent_post span,
.para_posts span {
    font-size: 16px !important;
    text-align: justify !important;
    font-family: 'Montserrat', sans-serif !important;
}

#elts_recent_post,
.elts_posts {
    font-size: 12px;
    margin-top: -2%;
    margin-bottom: 3%;
    display: flex;
    justify-content: space-between;
}

.button {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 4% !important;
}

.button span {
    font-size: 18px;
    color: #EB5159;
}

/********************* DESIGN FOR ARTICLE *********************/

#block_post {
    width: 60%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

#text_post {
    width: 100%;
    padding: 4%;
    font-size: 18px;
    background: white;
    text-align: justify;
    border: 1px solid black;
    box-shadow: -0.4em -0.4em .1em black;
    font-family: 'Montserrat', sans-serif !important;
}

#text_post div p,
#text_post div span {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 18px !important;
    text-align: justify !important;
}

#text_post a {
    color: #1A88D6 !important;
    text-decoration: underline !important;
}

#text_post h1 {
    text-align: center !important;
    margin-bottom: 8%;
}

.img_content {
    float: left;
    width: 300px;
    height: 329px;
    margin-right: 1.2%;
    margin-bottom: 1%;
    border-radius: 10px;

}

/********************* COMMENTS FRONTEND *********************/

#block_comment {
    width: 60%;
    margin: auto;
}

.comment {
    width: 100%;
    margin: 1%;
    display: flex;
    background: #EDF1F4;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.img_comment,
.content_comment {
    padding: 1% !important;
}

.img_comment img {
    width: 90px;
    height: 90px;
}

.content_comment {
    width: 100%;
    margin-left: 1%;
}

.date_comment {
    font-size: 12px;
    font-weight: normal;
}

.nav_comment {
    width: 30%;
    margin-top: -1%;
    margin-left: auto;
    text-align: right;
}

/********************* COMMENTS FORMULAIRE *********************/

#block_formComment {
    width: 55%;
    margin: auto;
}

#para_addComment {
    font-size: 20px;
    font-weight: bold;
}

#form_comment {
    padding: 2%;
    margin-top: 2%;
    text-align: left;
}

.input_design,
.textarea_design {
    margin: 1%;
    width: 100%;
    height: 40px;
    border-radius: 5px;
}

.textarea_design {
    height: 150px !important;
}

.button_design {
    width: 100%;
    padding: 2%;
    border: none;
    color: white;
    font-size: 16px;
    margin-left: 1%;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    background: black;
}

/********************* COUNTS ELEMENTS *********************/

.para_count {
    font-size: 22px;
    padding: 1%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

/********************* INFORMATIONS BELLS *********************/

.bell_square {
    font-size: 8px;
}

.bell {
    color: #3D58EF;
    font-weight: bold;
}

.bell_ok {
    color: #49A86B;
    font-weight: bold;
}

.bell_update {
    color: #F8D428;
    font-weight: bold;
}

.bell_alert {
    color: #EB5159;
    font-weight: bold;
}

/********************* ERRORS/SUCCESS *********************/

.error,
.success {
    padding: 2%;
    margin-top: 2%;
    font-size: 22px;
    letter-spacing: 2px;
    font-family: 'Roboto Condensed', sans-serif !important;
}

.error {
    color: white;
    background: #EB5159;
}

.success {
    color: white;
    background: #49A86B;
}

/*********************  DESIGN FORMULAIRES *********************/

#form {
    width: 30%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}

#form_create {
    margin-top: 2%;
    width: 50%;
}

#form input,
#form_create input {
    width: 100%;
    height: 40px;
}

#form label,
#form_create label {
    color: #767676;
    font-size: 19px;
}

#button_form {
    background: black;
    color: white;
    cursor: pointer;
}

.img_update {
    width: 100px;
    border-radius: 10px;
    height: auto;
}

#publication {
    display: flex;
}

.date_input,
.time_input {
    width: 30% !important;
    margin: 2%;
}

/********************* ADMIN TEMPLATE *********************/

#div_dashboard {
    width: 100%;
    display: flex;
    margin-top: 6%;
    margin-left: 2%;
    justify-content: center;
}

#block_sidebar {
    width: 15%;
    min-height: 1200px;
    border-radius: 15px;
    font-weight: bold;
    text-align: center;
    background: #EDF1F4;
}

#block_sidebar .fas {
    font-size: 25px;
    color: #3D58EF;
}

#home_sidebar {
    padding-top: 35%;
    margin-bottom: 150px !important;
}

#block_sidebar p {
    margin-bottom: 30%;
}

#banner_dashboard {
    width: 80%;
    display: flex;
    flex-direction: column;
}

#banner_img {
    width: 80%;
    border-radius: 15px;
    margin-left: 3%;
    position: relative;
}

#special_banner_h1 {
    position: absolute;
    margin-top: 2%;
    margin-left: 5%;
}

#special_banner_h1 span {
    color: #3D58EF;
}

.avatar_dashboard {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-top: -15% !important;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.li_dash {
    padding-top: 3%;
    margin-left: 4% !important;
}

/********************* DESIGN DISPLAY DASHBOARD *********************/

.display_dash {
    display: flex;
    width: 100%;
    margin-top: 2%;
    border-radius: 4px;
    background: #EDF1F4;

}

.display_dash div {
    width: 15%;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
    font-weight: bold;
    padding: 2%;
    overflow: auto;
}

.div_avatar img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.space_create {
    font-size: 20px;
    font-weight: bold;
    margin-left: 5%;
}

/********************* TEXTAREA/TINY MCE *********************/

.textarea_tiny {
    width: 100%;
    min-height: 350px;
}

.mce-notification-inner {
    display: none !important;
}

.tox-notifications-container {
    display: none !important;
}

/********************* PAGE PROFIL *********************/

#logo_profil {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

#logo_profil img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

/********************* DISPLAY ADMIN ON FRONTEND *********************/

#display_admin {
    width: 90%;
    padding: 2%;
    margin: auto;
    border-radius: 15px;
}

#admin_delete_posts {
    width: 4%;
    padding: 0.5%;
    margin-top: 5%;
    font-size: 25px;
    margin-right: 2%;
    margin-left: auto;
    text-align: center;
    border: 2px solid #EB5159;
}

/********************* LEGALS MENTIONS & PRIVACY POLICY *********************/

#mentions,
#privacyPolicy {
    width: 80%;
    padding: 4%;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

#mentions h1,
#privacyPolicy h1 {
    text-align: center;
}

#mentions a,
#privacyPolicy a {
    color: black;

}

/********************* FOOTER *********************/

#arrow {
    text-align: right;
    margin-bottom: 1.5%;
    margin-top: 1.5%;
    margin-right: 1%;
}

#arrow a {
    color: black;
    background: #FABA17;
    padding: 1%;
}

footer {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    background: #394047;
    color: white;
    font-family: 'Roboto', sans-serif;
}

footer a {
    color: white;
}