/********************* GENERALS SETTINGS *********************/

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    margin-left: 0%;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

.content,
.back_content {
    padding: 2%;
}

.links {
    font-size: 18px;
    margin-bottom: 5%;
}

.red {
    font-size: 14px;
    color: #EB5159 !important;
}


/********************* HEADER TEMPLATE *********************/

/* Header */
#header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    background: white;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    z-index: 2;
}

#header a {
    font-weight: bold;
}

#header div {
    display: flex;
    text-align: left;
}

#header ul {
    font-size: 15.5px;
    display: flex;
}

#div_pages,
#admin_div_pages,
#div_pages ul,
#admin_div_pages ul {
    width: 160%;
}

#div_pages li,
#admin_div_pages li {
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
}

#div_pages li:hover,
#admin_div_pages li:hover {
    border-bottom: 4px solid black;
}

#tag {
    margin-top: -33%;
}

#div_user,
#admin_div_user {
    width: 50%;
}

.second_nav_hover:hover li {
    visibility: visible;
}

.second_ul {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}

.second_ul li {
    visibility: hidden;
    background: white;
    width: 120%;
    padding: 4% !important;
}

.second_ul li:hover {
    border-bottom: 2px solid black;
}

.first_li {
    margin-top: 16% !important;
}

.connected {
    font-weight: bold;
    margin-left: -8%;
    padding-right: 5%;
}

.red2 {
    font-weight: bold;
    color: #EB5159 !important;
}

/********************* HEADER AUTHENTIFICATION *********************/

#header_admin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#header_admin ul {
    margin-top: 6%;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

#header_admin li {
    width: 20%;
    padding: 1.5%;
    font-weight: bold;
}

#inscription_li1 {
    border: 1px solid black;
    border-bottom: 1px solid transparent;
}

#inscription_li2 {
    border: 1px solid transparent;
    border-bottom: 1px solid black;
}

#connexion_li1 {
    border: 1px solid transparent;
    border-bottom: 1px solid black;
}

#connexion_li2 {
    border: 1px solid black;
    border-bottom: 1px solid transparent;
}

/********************* AUTHENTIFICATION INSCRIPTION/CONNECTION/RESET PASS *********************/

#forget_pass {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 2%;
    font-weight: bold;
}

#forget_pass a:hover {
    border-bottom: 4px solid black;
}

.auth_space {
    width: 100%;
    height: 140px;
}

/********************* HOME BANNER FRONTEND *********************/

#banner {
    margin-top: -1%;
}

#banner img {
    position: relative;
    width: 100%;
    height: 1000px;
}

#text_banner {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 1;
    width: 80%;
    margin-top: 260px;
    margin-left: 10%;
    background: rgba(255, 255, 255, 0.4);
    font-family: 'Montserrat', sans-serif !important;
}

#text_banner h1 {
    font-size: 50px;
    padding-top: 3%;
}

#text_banner h2 {
    margin-top: 2%;
    font-size: 25px;
}

#text_banner p {

    font-size: 40px;
}

/********************* SECOND BANNER FRONTEND *********************/
#banner2 {
    height: 300px;
    margin-bottom: 5%;
}

#banner2 img {
    width: 100%;
    position: absolute;
}

/********************* HOME RECENT ARTICLE *********************/

#recent_tag {
    width: 15%;
    height: 40px;
    color: white;
    font-size: 20px;
    margin-top: 5%;
    border-radius: 3px;
    padding: 8px 5px 0px 5px;
    display: flex;
    justify-content: center;
    background: #EB5159;
    font-family: 'Montserrat', sans-serif !important;
}

#triangle {
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-right-width: 20px;
    border-left-width: 20px;
    border-top: 20px solid #EB5159;
    margin-left: 5%;
    margin-top: -10px;
    margin-bottom: 2%;
}

/********************* HOME BLOCK LINK LIST CHAPTERS *********************/

#home_link_chapters {
    background: #EB5159;
    padding: 2%;
    text-align: center;
    color: white;
    margin-top: 8%;
    margin-bottom: 8%;
    border-radius: 5px;
    letter-spacing: 4px;
}

#home_link_chapters p a {
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
}


/********************* HOME INTRO *********************/

#intro {
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    text-align: center;
}

#intro h1 {
    color: #EB5159;
    font-size: 45px;
    letter-spacing: 4px;
}

#intro_question {
    font-weight: bold;
    letter-spacing: 2px;
}

.separation {
    width: 1px;
    height: 50px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    background: rgba(0, 0, 0, 0.2);
}

#square {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    font-size: 18px;
    text-align: justify;
    background: #EDF1F4;
    box-shadow: -60px -60px #EDF1F4;
    font-family: 'Montserrat', sans-serif !important;
}

#square p {
    padding: 8%;
    background: rgba(255, 255, 255, 0.5);
}

/********************* PAGE AUTHOR *********************/

#block_author {
    width: 80%;
    margin: auto;
    display: flex;
}

#img_author {
    padding: 2%;
    width: 300px;
}

#img_author img {
    width: 250px;
}

#text_author {
    padding: 2%;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif !important;
}

/********************* DESIGN FOR RECENT ARTICLE & LIST POST  *********************/

#block_recent_post,
.block_posts {
    display: flex;
    height: 350px;
    margin-bottom: 3%;
    box-shadow: 10px 10px 10px #EDF1F4;
}

#img_recent_post,
#para_recent_post,
.img_posts,
.para_posts {
    min-height: 350px;
    font-family: 'Montserrat', sans-serif !important;
}

#img_recent_post img,
.img_posts img {
    width: 319px;
    height: 350px;
    border-radius: 5px;
}

#novel_recent_post,
.novel_posts {
    font-weight: bold;
}

#para_recent_post,
.para_posts {
    width: 100%;
    padding: 4%;
}

#para_recent_post p,
.para_posts p,
#para_recent_post span,
.para_posts span {
    font-size: 16px !important;
    text-align: justify !important;
    font-family: 'Montserrat', sans-serif !important;
}

#elts_recent_post,
.elts_posts {
    font-size: 12px;
    margin-top: -2%;
    margin-bottom: 3%;
    display: flex;
    justify-content: space-between;
}

.button {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 4% !important;
}

.button span {
    font-size: 18px;
    color: #EB5159;
}

/********************* DESIGN FOR ARTICLE *********************/

#block_post {
    width: 60%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

#text_post {
    width: 100%;
    padding: 4%;
    font-size: 18px;
    background: white;
    text-align: justify;
    border: 1px solid black;
    box-shadow: -0.4em -0.4em .1em black;
    font-family: 'Montserrat', sans-serif !important;
}

#text_post div p,
#text_post div span {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 18px !important;
    text-align: justify !important;
}

#text_post a {
    color: #1A88D6 !important;
    text-decoration: underline !important;
}

#text_post h1 {
    text-align: center !important;
    margin-bottom: 8%;
}

.img_content {
    float: left;
    width: 300px;
    height: 329px;
    margin-right: 1.2%;
    margin-bottom: 1%;
    border-radius: 10px;

}

/********************* COMMENTS FRONTEND *********************/

#block_comment {
    width: 60%;
    margin: auto;
}

.comment {
    width: 100%;
    margin: 1%;
    display: flex;
    background: #EDF1F4;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.img_comment,
.content_comment {
    padding: 1% !important;
}

.img_comment img {
    width: 90px;
    height: 90px;
}

.content_comment {
    width: 100%;
    margin-left: 1%;
}

.date_comment {
    font-size: 12px;
    font-weight: normal;
}

.nav_comment {
    width: 30%;
    margin-top: -1%;
    margin-left: auto;
    text-align: right;
}

/********************* COMMENTS FORMULAIRE *********************/

#block_formComment,
#block_formComment2 {
    width: 55%;
    margin: auto;
}

#block_formComment2 {
    margin-top: 5%;
}

#block_formComment2 #para_addComment {
    padding-bottom: 1%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#para_addComment {
    font-size: 20px;
    font-weight: bold;
}

#form_comment {
    padding: 2%;
    margin-top: 2%;
    text-align: left;
}

.input_design,
.textarea_design {
    margin: 1%;
    width: 100%;
    height: 40px;
    border-radius: 5px;
}

.textarea_design {
    height: 150px !important;
}

.button_design {
    width: 100%;
    padding: 2%;
    border: none;
    color: white;
    font-size: 16px;
    margin-left: 1%;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    background: black;
}

/********************* COUNTS ELEMENTS *********************/

.para_count {
    font-size: 22px;
    padding: 1%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

/********************* INFORMATIONS BELLS *********************/

.bell_square {
    font-size: 8px;
    margin-right: 0.5%;
}

.bell {
    color: #3D58EF;
    font-weight: bold;
}

.bell_ok {
    color: #49A86B;
    font-weight: bold;
}

.bell_update {
    color: #F8D428;
    font-weight: bold;
}

.bell_alert {
    color: #EB5159;
    font-weight: bold;
}

/********************* ERRORS/SUCCESS *********************/

.error,
.success {
    padding: 2%;
    margin-top: 2%;
    font-size: 22px;
    letter-spacing: 2px;
    font-family: 'Roboto Condensed', sans-serif !important;
}

.error {
    color: white;
    background: #EB5159;
}

.success {
    color: white;
    background: #49A86B;
}

/*********************  DESIGN FORMULAIRES *********************/

#form {
    width: 30%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}

#form_create {
    margin-top: 2%;
    width: 50%;
}

#form input,
#form_create input {
    width: 100%;
    height: 40px;
}

#form label,
#form_create label {
    color: #767676;
    font-size: 19px;
}

#button_form {
    background: black;
    color: white;
    cursor: pointer;
}

.img_update {
    width: 100px;
    border-radius: 10px;
    height: auto;
}

#publication {
    display: flex;
}

.date_input,
.time_input {
    width: 30% !important;
    margin: 2%;
}

/********************* ADMIN TEMPLATE *********************/

#div_dashboard {
    width: 100%;
    display: flex;
    margin-top: 6%;
    margin-left: 2%;
    justify-content: center;
}

#block_sidebar {
    width: 15%;
    min-height: 1200px;
    border-radius: 15px;
    font-weight: bold;
    text-align: center;
    background: #EDF1F4;
}

#block_sidebar .fas {
    font-size: 25px;
    color: #3D58EF;
}

#home_sidebar {
    padding-top: 35%;
    margin-bottom: 150px !important;
}

#block_sidebar p {
    margin-bottom: 30%;
}

#banner_dashboard {
    width: 80%;
    display: flex;
    flex-direction: column;
}

#banner_img {
    width: 70%;
    border-radius: 15px;
    margin-left: 3%;
    position: relative;
}

#special_banner_h1 {
    position: absolute;
    margin-top: 2%;
    margin-left: 5%;
}

#special_banner_h1 span {
    color: #3D58EF;
}

.avatar_dashboard {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-top: -15% !important;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.li_dash {
    padding-top: 3%;
    margin-left: 4% !important;
}

/********************* DESIGN DISPLAY DASHBOARD *********************/

table {
    width: 100%;
    margin-right: -1%;
    background: #EDF1F4;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

#table1 {
    margin-top: 2%;
}

th,
td {
    width: 14%;
    text-align: center;
    padding: 2%;
}

th {
    font-weight: bold;
}

td {
    overflow: auto;
}

td img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.space_create {
    font-size: 20px;
    font-weight: bold;
    margin-left: 5%;
}

/********************* TEXTAREA/TINY MCE *********************/

.textarea_tiny {
    width: 100%;
    min-height: 350px;
}

.mce-notification-inner {
    display: none !important;
}

.tox-notifications-container {
    display: none !important;
}

/********************* PAGE PROFIL *********************/

#logo_profil {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

#logo_profil img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

/********************* DISPLAY ADMIN ON FRONTEND *********************/

#display_admin,
#display_account {
    width: 30%;
    padding: 2%;
    margin-top: 5%;
    margin-right: 5%;
    font-size: 18px;
    font-weight: bold;
    margin-left: auto;
}

#display_admin span,
#display_account span {
    padding: 1%;
    margin-left: 1%;
    color: #EB5159 !important;
    border: 2px solid #EB5159;
}

#display_admin a,
#display_account a {
    color: #EB5159 !important;
}


/********************* LEGALS MENTIONS & PRIVACY POLICY *********************/

#mentions,
#privacyPolicy {
    width: 80%;
    padding: 4%;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

#mentions h1,
#privacyPolicy h1 {
    text-align: center;
}

#mentions a,
#privacyPolicy a {
    color: black;

}

/********************* PAGE ERREUR *********************/

#div_error {
    width: 1059px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}

/********************* FOOTER *********************/

#arrow {
    text-align: right;
    margin-bottom: 1.5%;
    margin-top: 1.5%;
    margin-right: 1%;
}

#arrow a {
    color: black;
    background: #FABA17;
    padding: 1%;
}

footer {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    background: #394047;
    color: white;
    font-family: 'Roboto', sans-serif;
}

footer a {
    color: white;
}

/********************* RESPONSIVE MOBILES *********************/


@media all and (min-width: 320px) and (max-width: 599px) {

    /******** FRONTEND ********/

    /* GENERAL SETTINGS */
    .links {
        font-size: 14px;
    }

    /* AUTHENTIFICATION */
    #header_admin {
        width: 100%;
        margin: auto;
    }

    #header_admin img {
        width: 140px;
    }

    #header_admin nav {
        margin-left: -14%;
    }

    #header_admin li {
        width: 40%;
        font-size: 16px;
        padding-top: 4%;
    }

    #form {
        width: 90%;
    }

    /* ERROR & SUCCESS */
    .error,
    .success {
        font-size: 18px;
    }

    /* HEADER */
    #header {
        height: 60px;
    }

    #div_pages {
        width: 100%;
        margin-left: -9%;
    }

    #div_pages li {
        font-size: 10px;
    }

    #div_pages li:hover {
        border-bottom: 2px solid black;
    }

    #tag {
        width: 40px;
    }

    #div_user {
        width: 30.5%;
    }

    .second_nav_hover {
        margin-left: 8%;
    }

    .second_ul {
        margin-top: 15%;
    }

    .second_ul li {
        margin-left: -127%;
        font-size: 10px;
    }

    .connected {
        display: none;
    }

    .mobile_connected {
        color: green;
    }

    /* HOME BANNER */
    #banner img {
        height: auto;
    }

    #text_banner {
        width: 90%;
        margin-top: 80px;
        margin-left: 5%;
    }

    #text_banner h1 {
        font-size: 15px;
    }

    #text_banner h2,
    #text_banner p {
        font-size: 10px;
    }

    /* BANNER */
    #banner2 {
        height: 70px;
        margin-top: 60px;
    }

    /* RECENT ARTICLE / ARTICLES */
    #recent_tag {
        width: 50%;
        font-size: 14px;
    }

    #block_recent_post,
    .block_posts {
        width: 95%;
        height: auto;
        flex-direction: column;
        margin-top: 5%;
        margin-left: 1.5%;
        margin-bottom: 10%;
        border: 2px solid #EDF1F4;
    }

    #img_recent_post,
    #para_recent_post,
    .img_posts,
    .para_posts {
        margin: auto;
        min-height: auto;
        padding-top: 6%;
    }

    #img_recent_post h2,
    #para_recent_post h2,
    .img_posts h2,
    .para_posts h2 {
        font-size: 18px;
    }

    #img_recent_post p,
    #para_recent_post p,
    .img_posts p,
    .para_posts p {
        font-size: 14px !important;
    }

    #img_recent_post img,
    .img_posts img {
        width: 150px;
        height: 150px;
        border-radius: 100%;
    }

    #elts_recent_post,
    .elts_posts {
        font-size: 12px;
        flex-direction: column;
    }

    /* HOME INTRO */
    #intro {
        width: 90%;
    }

    #intro h1 {
        font-size: 25px;
    }

    #square {
        width: 90%;
        margin-top: 10%;
        font-size: 14px;
        box-shadow: -3px -3px #EDF1F4;
    }

    /* ARTICLE */
    #block_post {
        width: 92%;
        margin-top: 10%;
    }

    #text_post {
        font-size: 14px !important;
    }

    #text_post h1 {
        font-size: 20px;
    }

    .img_content {
        width: 120px;
        height: 120px;
        margin-right: 2%;
    }

    #text_post div p,
    #text_post div span {
        font-size: 14px !important;
    }

    #block_comment {
        width: 90%;
    }

    #block_formComment {
        width: 85%;
    }

    .content_comment {
        font-size: 12px;
    }

    .date_comment {
        font-size: 10px;
    }

    .img_comment img {
        width: 80px;
        height: 80px;
    }

    #para_addComment {
        font-size: 16px;
    }

    #display_admin,
    #display_account {
        width: 100%;
        margin-right: 0%;
        font-size: 15px;
        margin-left: 12%;
    }

    /* PAGE AUTHOR */
    #block_author {
        margin-top: 4%;
        flex-direction: column;
    }

    #img_author {
        width: 100%;
        margin-left: 25%;
    }

    #img_author img {
        width: 50%;
    }

    #text_author {
        font-size: 14px;
    }

    #text_author h1 {
        font-size: 20px;
    }

    /* LEGALS MENTIONS & PRIVACY POLICY */
    #mentions,
    #privacyPolicy {
        width: 90%;
        font-size: 14px;
    }

    #mentions h1,
    #privacyPolicy h1 {
        font-size: 20px;
    }

    /* FOOTER */
    #arrow {
        margin-bottom: 3.5%;
        margin-top: 3.5%;
        margin-right: 3%;
    }

    #arrow a {
        padding: 2%;
    }

    footer {
        font-size: 14px;
        text-align: center !important;
        flex-direction: column;
    }

    /******** BACKEND ********/

    /* HEADER */
    #admin_div_pages {
        width: 50%;
        margin-left: -5%;
    }

    #admin_div_user {
        width: 60%;
    }

    .avatar_dashboard {
        width: 30px;
        height: 30px;
    }

    /* DASHBOARD */
    .back_content {
        width: 99%;
    }

    .space_create {
        font-size: 12px;
    }

    .red {
        font-size: 10px;
    }

    .fas.fa-angle-double-left,
    .fas.fa-angle-double-right {
        font-size: 8px !important;
    }

    .bell_square {
        font-size: 4px;
        margin-right: 2%;
    }

    /* SIDEBAR */
    #div_dashboard {
        margin-top: 20%;
    }

    #block_sidebar {
        width: 35%;
        min-height: auto;
        font-size: 10px;
        border-radius: 5px;
    }

    #block_sidebar .fas {
        font-size: 18px;
    }

    #home_sidebar {
        margin-bottom: 60px !important;
    }

    /* BANNER */
    #banner_dashboard {
        width: 80%;
    }

    #banner_img {
        width: 90%;
        border-radius: 5px;
    }

    #special_banner_h1 {
        font-size: 14px;
    }

    /* INTRO PAGES */
    .back_content h2 {
        font-size: 13px;
    }

    .intro_dash h1 {
        font-size: 14px;
    }

    .intro_dash p {
        font-size: 12px;
    }

    /* PROFIL */
    #logo_profil {
        margin-top: 15%;
    }

    /* ARTICLES */
    #table1 {
        display: none;
    }

    #table2 {
        width: 98%;
        border: 0;
        background: white;
    }

    tr {
        display: block;
        margin: 1%;
        border: 1px solid #D5D8DB;
    }

    table td {
        width: 100%;
        padding: 5% !important;
        display: flex;
        background: #EDF1F4;
        flex-direction: column;
    }

    table td img {
        margin: auto;
    }

    /* FORMS */
    #form_create {
        width: 90%;
    }

    #form_create label {
        font-size: 14px;
    }

    .date_input,
    .time_input {
        width: 50% !important;
    }

}

/********************* RESPONSIVE TABLETTES *********************/

@media all and (min-width: 600px) and (max-width: 1024px) {

    /******** FRONTEND ********/

    /* RECENT ARTICLE / ARTICLES */
    #recent_tag {
        width: 20%;
        font-size: 16px;
    }

    #block_recent_post,
    .block_posts {
        width: 95%;
        height: auto;
        flex-direction: column;
        margin-top: 5%;
        margin-left: 1.5%;
        margin-bottom: 10%;
        border: 2px solid #EDF1F4;
    }

    #img_recent_post,
    #para_recent_post,
    .img_posts,
    .para_posts {
        margin: auto;
        min-height: auto;
        padding-top: 6%;
    }

    #img_recent_post h2,
    #para_recent_post h2,
    .img_posts h2,
    .para_posts h2 {
        font-size: 20px;
    }

    #img_recent_post p,
    #para_recent_post p,
    .img_posts p,
    .para_posts p {
        font-size: 17px !important;
    }

    #img_recent_post img,
    .img_posts img {
        width: 180px;
        height: 180px;
        border-radius: 100%;
    }

    #elts_recent_post,
    .elts_posts {
        font-size: 12px;
        flex-direction: column;
    }

    /* HOME INTRO */
    #intro {
        width: 60%;
    }

    #intro h1 {
        font-size: 25px;
    }

    #square {
        width: 90%;
        margin-top: 10%;
        font-size: 14px;
        box-shadow: -3px -3px #EDF1F4;
    }

    /* BANNER PAGES */
    #banner2 {
        height: 140px;
    }

    #banner2 img {
        margin-top: 2%;
    }

    /******** BACKEND ********/

    /* TEMPLATE */
    #div_dashboard {
        margin-top: 12%;
    }

    #admin_div_user .second_nav_hover {
        margin-left: -18%;
    }

    #admin_div_user {
        padding-top: 8px;
    }

    #tag {
        padding-top: 10px;
    }

    /* TABLES */
    th,
    td {
        font-size: 10px;
    }

    /* FORMS */
    #form_create {
        width: 90%;
    }

    #form_create label {
        font-size: 16px;
    }

    .date_input,
    .time_input {
        width: 50% !important;
    }

    #form {
        width: 55%;
    }

    /* PROFIL */
    #logo_profil {
        margin-top: 10%;
    }
}